In [5]:
from NxBook.jupyter.initialize import *
initialize_nxbook()

In [6]:
email = 'b.mahdi@gmail.com'
auth_token = get_auth_token(email)

········

# Python Basics

## Statements
---

Statements are a single line of Python code. If a Python script were a book, a statement would be a sentence. A few examples of statements include printing, math operations, and assigning values to variables, which we will cover in what follows.

### Mathematical Operations
---

Like other programming languages, Python can perform basic math operations including addition, subtraction, multiplication, division, etc. Python follows the algebraic rules of precedence when interpreting your expression. Below is a table of mathematical operators in their order of precedence.

| Order of Precedence | Math Opereration | Mathematical Symbol | Python Symbol |
| --------------------------------- | ----------------------- | ----------------------------------- | ------------------------ |
| 1                                   | Parentheses      | ( )                                    | ( )                        |
| 2                                   | Exponent          | ^                                       | **                        |
| 3                                   | Multiplication  | ×                                       | *                          |
| 3                                   | Division            | ÷                                       | /                          |
| 4                                   | Addition           | +                                       | +                          |
| 4                                   | Subtraction      | −                                      | -                           |


The following cell contains an example that computes a mathematical expression.

In [ ]:
20 * 0.5 * (1 + (4.5 / 100))

10.45

#### Mathematical Operations Quizzes
---
Try working with mathematical operations on your own in the code cells bellow:

#### Quiz 1

If a person has a budget of $10.42/day per person for food, then the weekly budget for food is computed using the expression below:

In [ ]:
7 * 10.42

72.94

Use the expression above to compute the total weekly budget of a family of 4. 

Hint: multiply the expression above by the appropriate value.

In [ ]:
# Quiz 1

#### Quiz 2

The current price of a poke bowl is 9 dollars. Calculate whether it would be cheaper to make your own poke bowl or to buy the poke bowl. The current price of poke is 20 dollars per pound and the current price of rice is 0.34 dollars per cooked cup. A poke bowl has 0.44 pounds of poke and 1 cup of cooked rice.

In [ ]:
# Quiz 2

### Printing
---
Jupyter Notebooks will print the result of the most recent statement written in the cell. If you want to print a specific  statement that does not occur on the last line, you will have to use the `print()` function. 

In Python, functions are named bundles of instructions that carry out a specific task (functions will be covered in depth in the following chapters). The `print()` function prints the objects within the parentheses. The parentheses after `print` tell Python to print what is inside.

#### Example 2

In [ ]:
print(1)
2
3
4
5
6
7

1

7

As you can see from running the example above, Jupyter explicitly printed 1 and automatically printed the last statement, 7.

#### Printing Quiz
----

#### Quiz 3

Which of the following code snippets print only 1 and 5? 

A.
```python
1
2
3
4
5
```
B.
```python
print(1)
2
3
4
print(5)
```


C. 
```python
print(1)
print(2)
print(3)
print(4)
print(5)
```

D.
```python
1
2
3
4
print(5)
```

In [7]:
nxbookShowQuestion(module_id="intro_to_python", question_id="wcPIAUnQPeEhycf3NBet")

In [ ]:
# Quiz 3

### Assigning Values to Variables
---

The price of poke can vary from day to day and different poke shops will give different amounts of poke and rice in their poke bowls.  The way our Python script above was written makes it inconvenient to manually change the prices and amounts in the mathematical expression. One way to solve this problem is to  re-write the expression above using variables.

#### Variable Structure

Variables are placeholders for values that are stored in memory. Values are assigned to a variable using the syntax illustrated below.  


<img src="images/python_basics/assignment_statement.jpg" alt="drawing" style="width:450px;"/>

In an assignment statement, the variable name is followed by `=`, which is followed by the value that needs to be stored

For example:

```python
pokebowl_price = 8.25
```
In this variable assignment, the value, 8.25, is assigned to the name, `pokebowl_price`.

#### Python Variable Name Rules 

Python has a few rules regarding how you name variables: 

* Variable names can contain letters, numbers and underscores; spaces and other characters are not allowed in variable names. 
* Names can start with letters and underscores, but not numbers.

Variable names should be concise, but descriptive enough so that someone else reading your code knows what the variable contains. While variable names like `my_favorite_type_of_poke`  or  `fp` are allowed, a better variable name would be  `favorite_poke`.

#### Printing Variables 
Variables act as proxies to the values they contain. Therefore, we can use the `print()` function, which was covered above  to print the value stored in the variable `pokebowl_price`. 

For example, 
```python
print(pokebowl_price)
```
will print 8.25.

In [ ]:
pokebowl_price = 8.25
print(pokebowl_price)

8.25


#### Example 3

Let's compute the total cost of 0.5 pound of poke including 4.5% tax.

In [ ]:
poke_price = 20
poke_weight = 0.5
tax = 4.5

poke_price * poke_weight * (1 + ( tax / 100))

10.45

#### Example 4

Now let's see how much a half pound of poke would cost in Los Angeles where the tax is 9.5% and assuming the price of poke per pound stays the same.

In [ ]:
poke_price = 20
poke_weight = 0.5
tax = 9.5


poke_price * poke_weight * (1 + (tax / 100))

10.95

#### Quiz 4

* Rewrite your answer to the quiz above which asks you compute the cost of a poke bowl using variables. Make sure that both solutions give the same result.

* Use your code to calculate the cost of making your own poke bowl if the price of poke goes down to 18 dollars a pound.

In [ ]:
# Quiz 4

#### Quiz 5

Select which of the following  are NOT valid variable labels:

A.
 " "= 4

B. 

True = 4

C. 

14 = 4

In [5]:
nxbookShowQuestion(module_id= "intro_to_python", question_id="rn00LkPAC24JdUXRD7dc")

#### Quiz 6

True or False: Are these two variable labels equivalent? 

`big_cat` and `Big_cat`


A. 
True

B. 
False

In [6]:
nxbookShowQuestion(module_id="intro_to_python", question_id="Ly5sYDZblumHJZyFToqI")

## Comments
---
Comments are commonly used to explain what code is doing. As such, it's always good practice  to comment  your code, especially when it implements complex functionality. 

In Python, a comment line starts with `#`, and everything to the right of the `#` is ignored by the Python interpreter.

For instance, the Python code below, while spanning multiple lines, is completely ignored since each line starts with `#`.

In [ ]:
# This is a comment
### This is also a comment


# This code was edited by Mark on 12 October 2018

# Run the code below

In [8]:
nxbookShowQuestion(module_id="intro_to_python", question_id="7tnWRKt1DnKbcz7Dyu2L")

#### Quiz 7

Select all of the options that represent valid comments in Python

A.
`# Is this a comment? `

B.
`### Is this a comment?`

C. 
`This is a short comment.`

## Summary
---
In this section, you learned the following concepts: 

* Primary Python operators
* Assigning values to variables
* Statements
* Printing literal values or variables using the  `print()` function
* The importance of and how to comment code.

In the next section, you will learn more about  scalars and  operations that are used on them.