# Python Basics Exercises
---

### Exercise 1
---
If there are 24 hours in a day, 60 minutes in one hour, and 60 seconds in one minute, write an expression that computes and prints the number of seconds in a standard 365-day year? Write your answer in the cell below. Make sure you assign the computed value into a variable called `standard_year_seconds`.

In [ ]:
# Write your code here

### Exercise 2
---
If a leap year has 366 days while a standard year has 365 days, how many seconds are in one leap year? Use the results computed in the question before and simply add the number of seconds in a day, which is 86400 seconds.

In [1]:
# Write your code here

86400

### Exercise 3
---
New York and Tokyo are 6,737 miles apart. If there are 1.609 kilometers in one mile, what is the distance between New York and Tokyo in kilometers?

In [ ]:
# Write your code here

### Exercise 4
---
i) If there are 1.151 miles in 1 nautical mile, and two ships are 3.4 nautical miles apart, how far are the two ships in miles?

The instructions are as follows:
1. Assign the nautical distance to a variable called `nautical_distance`.
2. Multiply `nautical_distance` by 1.51 to get the distance in miles.
3. Assign the product into a new variable called `miles_distance`

In [1]:
# Write your code here

3.8114

ii) Print the distance between the two ships in both nautical miles and miles. Your answer should look like the following. Recall that both values are already assigned to the variables `nautical_distance` and `miles_distance` (call miles_distance something else)

```
3.4
3.8114
```

In [ ]:
# Write your code here

iii) Print `nautical_distance` and `miles_distance` on the same line. You can do this by passing `nautical_distance` and `miles_distance` to the `print()` function as follows.

```python
print(nautical miles, miles)
```

In [ ]:
# Write your code here