# Scalars Exercises
---

### Exercise 1
---
Create a variable called `lion_king` and assign the integer value 32 to it:

repeat bellow

In [ ]:
# Write your code here

### Exercise 2
---
i) Assign the label `lion_king_ticket_min` to 144.86:

In [ ]:
# Write your code here

ii) What type of variable is `lion_king_ticket_min`?

In [ ]:
#a) float
#b) integer
#c) string

### Exercise 3
---
i) Assign the string "new amsterdam theatre" to the variable label `large_venue`:

In [ ]:
# Write your code here

ii) Change the string assigned to the label `large_venue` to title case using the `title()` method.

In [ ]:
# Write your code here

iii) Concatenate the strings assigned to the variables `large_venue`  and `remaining tickets` and print them to the screen. Keep in mind that you will have to convert one of the variable so that both variables are the same data type.

In [ ]:
# Write your code here

### Exercise 4
---
Assign the Boolean Operator `True` to the label `kid_friendly`:

In [ ]:
# Write your code here

### Exercise 5
---
Assign the Boolean Operator `False` to the label `free_parking`:

In [ ]:
# Write your code here

### Exercise 6
---
Create an `if-else` statement to contain the following information:

*   if `lion_king_ticket_min` is less than 100, Print 'purchase ticket now'
*   if not, print 'continue watching ticket prices'

When you're writing code, it's very common to come up with test cases that you can use to verify that your code works as intended. For instance, there are three possible scenarios in this `if-else` satement. The ticket price can be equal to, below or above 100. To make sure your code works, we need to test all three situations. We can do that here by running it with the values 79, 100 and 120. Run your `if-else` statement by testing all three values

In [ ]:
# Write your code here

### Exercise 8
---
i) Create three variables called `person_1`, `person_2` and `person_3` that contains their respective incomes. Each person's income is as follows. 

* `person_1` makes 9000 dollars per year
* `person_2` makes 50000 dollars per year
* `person_3` makes 200000 dollars per year

In [ ]:
# Write your code here

ii) Write `if-elif-else` statement to return the taxes that a person pays on their taxes. For single filers, the tax brackets are as follows

|Tax rate| Taxable Income Bracket| Taxes Owed |
|--|--|--|
|10%|$\$$0 to $\$$9,525|10% of taxable income|
|12%|$\$$9,526 to $\$$38,700|$\$$952.50 plus 12% of the amount over $\$$9,525|
|22%|$\$$38,701 to $\$$82,500|$\$$4,453.50 plus 22% of the amount over $\$$38,700|
|24%|$\$$82,501 to $\$$157,500|$\$$14,089.50 plus 24% of the amount over $\$$82,500|
|32%|$\$$157,501 to $\$$200,000|$\$$32,089.50 plus 32% of the amount over $\$$157,500|
|35%|$\$$200,001 to $\$$500,000|$\$$45,689.50 plus 35% of the amount over $\$$200,000|
|37%|$\$$500,001 or more|$\$$150,689.50 plus 37% of the amount over $\$$500,000|

In [ ]:
# Write your code here