#Exercises: Python Basics
---

### Exercise 1: Compute the number of seconds in a year
---

In [0]:
# Exercise 1

### Exercise 2: Compute the number of seconds in a leap year
---

A leap year has 366 days while a standard year has 365 days. If there are 24 hours in a day, 60 minutes in one hour, and 60 seconds in one minute, how many seconds are in one leap year?

In [0]:
# Exercise 2

### Exercise 3: Freight in elevators
---
If a box of potatweights 0.5 lbs, and the maximum weight capacity for an elevator is 2 tons, how many adult male bullfrogs can you put in one elevator, if there are 2000 pounds in one ton?

In [0]:
#Exercise 3

### Exercise 4: Compute the number of seconds elapsed between January 3rd and  Janaury 17th 2019
---

In [0]:
# Exercise 4

### Exercise 5: Convert the distance from New York to Tokyo from miles to kilometers
---
New York and Tokyo are 6,737 miles apart. If there are 1.609 kilometers in one mile, what is the distance between New York and Tokyo in kilometers?

In [0]:
#Exercise 5

### Exercise 6: Convert miles to nautical miles
---
If there are 1.151 miles in a nautical mile, if two ships are 3.4 nautical miles apart, what is that distance in miles?

In [0]:
# Exercise 6

** Potential exercise**

Repeat exercise six, but with variables for the conversion factor and the distance between the two ships as well as the result of the calculation. When you assign a calculation to a variable, Jupyter Notebooks doesn't automatically print the result. Print the result of the calculation from the variable it's assigned to.