# Python Basics Exercises
---

### Exercise 1
---
If there are 24 hours in a day, 60 minutes in one hour, and 60 seconds in one minute, how many seconds are in a standard 365 day year?

In [0]:
# Exercise 1

### Exercise 2
---
If a leap year has 366 days while a standard year has 365 days, how many seconds are in one leap year?

In [0]:
# Exercise 2

### Exercise 3
---
If a box of potato weighs 0.5 lbs, and the maximum weight capacity for an elevator is 2 tons, how many boxes of potatoes can you put in one elevator?
Note: There are 2000 lbs in 1 ton.

In [0]:
#Exercise 3

### Exercise 4
---
Compute the number of seconds elapsed between January 3rd and Janaury 17th 2019.

In [0]:
# Exercise 4

### Exercise 5
---
New York and Tokyo are 6,737 miles apart. If there are 1.609 kilometers in one mile, what is the distance between New York and Tokyo in kilometers?

In [0]:
#Exercise 5

### Exercise 6
---
i) If there are 1.151 miles in 1 nautical mile, and two ships are 3.4 nautical miles apart, how far are the two ships in miles?

ii) Repeat exercise six, but this time carry out the calculation with variables for the conversion factor, the distance between the two ships in nautical miles. How far would the ships be if they were 3.4, 10, and 768 nautical miles apart?

iii) How can you simultaneously print the distance between the two ships in both nautical miles and miles?

### Exercise 7
---
In the code cell below, calculate the number of hours between 9am and 5pm on one line, and the number of hours between 8am and 3pm on a second line. What can you do to make sure that both results prints?