
# Scalars
---

In the previous chapter, you learned about simple statements in Python, including how to assign values to variables. This section will further explore variables, by discussing the different data types that they can contain and operations you can perform on them. 

In Python, variables that contain a single value are referred to as scalars. Scalar variables can contain numeric values, strings (text), or Booleans (`True` or `False`).

__*This cell is for our editing purposes, it will be deleted after we complete this chapter*__

Case Study: Shark Encounters

 In this lesson we will use Python to assign scalar variables to store data on two recent shark encounters. Then, we will learn how to conduct operations on and conditional tests on these scalar variables. 

Australia shark encounter:


*   Date: 24-April-2018
*   Country: Australia
*  Location: Martin Islet
*   Activity when attacked: Free Diving
*  Shark species: Great White Shark
*  Shark Length: 3.5 meters
*  Victim age: 28
*  Injury: No injury, shark took his swimfin
* Fatality: No


New Zealand shark encounter:

*   Date: 24-April-2018
*   Country: New Zealand
*  Location: Cormandel
*   Activity when attacked: Lobster Fishing
*  Shark species: Mako Shark
*  Shark Length: 1.5 meters
*  Victim age: 39
*  Injury: Foot bitten by landed shark
* Fatality: No

## Numeric Scalars
---

The previous section dealt with numeric data types. Numeric scalars are good for storing quantitative information that consists of single values. The two types of numeric scalars that we will cover are integers and floats.

### Integers
---

*Integers* are positive or negative whole numbers that do not have a decimal point. 

![integers](images/scalars/integers.png)

#### Example 1

The age of a victim of a shark encounter in New Zealand is best represented using an integer. We can store the victim's age in a variable called `nz_victim_age`.

In [ ]:
nz_victim_age = 39
print(nz_victim_age)

39

### Floats
---

The previous chapter also had an example of a numeric variable that wasn't a whole number. Numeric values that contain decimal points are called *floats*.

![floats](images/scalars/floats.png)

The following are all examples of floats:


* 0.000009678
* 2.0
* 121313.5
* 33.45

#### Example 2 

In this example, we assign a float to a variable. In
this case, the variable, `aus_shark_size` contains a shark's length in meters (this is an Aussie shark ...  they use the metric system, Mate!). 

![aus_shark_size](images/scalars/aus_shark_size.png)

In [ ]:
aus_shark_size = 3.5

#### Numeric Scalar Quizzes
---
Practice assigning numeric scalars to variables by completing the quizes below.

#### Quiz 1

Create a variable called `aus_victim_age` that contains the age of a 28 year old victim of shark encounter.

In [ ]:
# Quiz 1

#### Quiz 2

Try writing a statement to assign a New Zealand shark's length of 1.5 meters to the variable `nz_shark_size`.

In [ ]:
# Quiz 2

## Strings
---

*Strings* are series of characters that occur on the same line and contained within " " (double quotes) or ' '(single quotes). Strings may contain letters, digits, or even characters like %.  The examples below provides the basic format of a string using double quotes; you can also use single quotes if you want to, as long as you remain consistent. 


```
variable_name = "This is a string"
```



See the following examples below for strings that store data about the location, injuries, and victim demographics of shark encounters.

#### Example 3

We wish to create a statement to assign a string variable that holds the activity of a victim before a shark encounter. 

![aus_activity](images/scalars/aus_activity.png)

We might write:

In [ ]:
aus_activity = "Free Diving"

print(aus_activity)

Free Diving

We can similarly assign shark species to variables for the New Zealand and Australian Sharks involved in two encounters.

In [ ]:
aus_species = "White Shark"

nz_species = "Mako Shark"

#### Example 4

Strings can also contain digits. If we wanted to create a variable to store the date of the Australian shark encounter on 24-April-2018, we could write:

![aus_encounter_date](images/scalars/aus_encounter_date.png)

In [ ]:
aus_attack_date = '24-Apr-2018'
print(aus_attack_date)

24-Apr-2018

### Single Versus Double Quotes

In the previous examples, it didn't matter whether single or double quotes were used to create the string. However, there may be cases where you would need to use one over the other. If you want your string to contain a single quote like an apostrophe, you would need to use double quotes to contain your string, otherwise the single quote would be erroneously interpreted as a premature end of your string. Likewise, and for the same reason, if you want to use double quotes within your string, you need to use single quotes to contain your string.

![inner_outer_quotes](images/scalars/inner_outer_quotes.JPG)

#### Example 5

For example, let's say that we want to store the following police statement in a string: 

Officer Brown said "There was no injury, however the surfboard was bitten"

In [ ]:
aus_police_statement = 'Officer Brown said "There was no injury, however the surfboard was bitten" '

print(aus_police_statement)

Officer Brown said "There was no injury, however the surfboard was bitten"

#### String Quizzes
---
Try the following quizzes to practice creating strings and assigning them to variables.

#### Quiz 3
Write a statement containing a variable label and value to describe the activity the New Zealander was doing when they encountered a shark, if they were lobster fishing.

In [ ]:
# Quiz 3

#### Quiz 4
Write a statement that contains the date of the New Zealand shark encounter that occurred on 13-Mar-2016 :

In [ ]:
# Quiz 4

### String Manipulations
---

#### String Methods

A *method* is like a function that can be called on a variable using the dot notation. The details on the difference between functions and methods are not important at this point. To use a method, you first type the name of the variable you are manipulating, followed by a period (dot), the name of the method, then a set of parenthesis.

```
variable_name.method_name()
```
As with functions, some methods also have parameters that can be passed within the parentheses to modify their behavior.

Three useful methods that can be applied to strings are:
* `title()`
* `upper()`
* `lower()` 

The `title()` method changes the string so that the first letter in each word in the string is capitalized while the rest is lowercase. The `upper()` and `lower()`  methods capitalize and uncapitalize the whole string, respectively. See the example below to see how they work.

**Example 6 **

The australian shark attack activity is printed after using the `title()`, `upper()` and `lower()` method.

In [ ]:

print(aus_activity.title())

print(aus_activity.upper())

print(aus_activity.lower())

Free Diving
FREE DIVING
free diving

#### String Concatenation

String concatenation is the process of combining or adding together strings using the `+` operator. 

Strings can also be concatenated directly without being assigned to a variable:

![string_concat_2](images/scalars/string_concat_2.png)

In [ ]:
print('Martin Islet,' + ' ' + 'Australia')

Martin Islet, Australia

or concatenated by adding the variables that contain them. See example below.

#### Example 7

The following contains an example of string concatenation performed on variables containing strings.

![string_concat_1](images/scalars/string_concat_1.JPG)

In [ ]:
country = 'Australia'
location = 'Martin Islet'
complete_encounter_location = location + "," + " " + country
print(complete_encounter_location)

Martin Islet, Australia

Strings and numeric data types can also be concatenated using the `format()` method. The `format()` method deliniates fields for replacement using curly braces,{}. The values that replace the curly braces are the parameters in the parenthesis of the `format()` method. When there are multiple replacement fields, `format()` will replace them in the order that the values appear in `format()`'s parenthesis. See below for an example.

In [1]:
country = 'Australia'
location = 'Martin Islet'
complete_encounter_location = "{}, {}".format(location, country)
print(complete_encounter_location)

Martin Islet, Australia

#### String Manipulation Quizzes
---
Try the following string quizzes on your own.

#### Quiz 6

What method changes a string from lowercase to title case?

In [ ]:
# Quiz 6

#### Quiz 7
Change the string "I went swimming" to uppercase:

In [ ]:
# Quiz 7
print("I went swimming".METHOD())

I WENT SWIMMING

## Booleans
---
One vital data type in many programming languages is *Booleans*. Booleans are data types that evaluate to either `True` or `False`. Booleans are important because they play key roles in controlling the flow of programs, which we will cover in this and following chapters.

### Assigning Boolean Variables

You can directly assign a Boolean value to a variable like how you would assign a number or string to a variable. You just need a variable name, the assignment operator, =, and `True` or `False`. Quotes are not used around the True or False since this is not a string.

#### Example 8

For example, if we wanted to create a variable to represent whether or not the shark encounter in Australia was fatal, we could write the following statement:

![aus_encounter_fatality](images/scalars/aus_encounter_fatality.png)

In [ ]:
aus_encounter_fatality = False

In [ ]:
print(aus_encounter_fatality)

False

Notice that Booleans `True` and `False` are capitalized, otherwise Python will not recognize these as reserved keywords. The example below demonstrates what happens when you don't capitalize `True` or `False`.

#### Example 9

If you run the cell below, you'll notice that lowercase `true` returns an error because Python thinks it is a variable that has not yet been defined.

In [ ]:
nz_encounter_fatality = true
print(nz_encounter_fatality)

NameError: ignored

## Operations on Scalars: if-else Statements
---
`if-else` statements determine whether a block of code gets executed. For example, before you authorize a customer's transaction you could check their balance to assess whether they have sufficient funds. `If` the answer is `True`, then you can execute the transaction, `else` you could display a relevant message. Before we delve into the specifics of `if-else` statements, you need to understand conditional tests and how they work.

### Conditional Tests
---
`if-else` uses *arithmetic logic operators* to evaluate whether a statement is `True` or `False`. The following is a table of arithmetic logic operators.

| Arithmetic Logic Operator | Mathematical Symbol | Python Notation |
|-----------------------------------|-------------------------------------|----------------------------|
|Equals                           | =                                      |==                           |
|Not Equal                      | ≠                                     | !=                          |
| Greater Than                | >                                     | >                           |
| Less Than                     |  <                                     |<                            |
| Greater Than or Equal to | ≥                                | >=                         |
| Less Than or Equal to | ≤                                     | <=                         |

The following are examples of simple conditional tests.

#### Example 10

In this example, we use a boolean expression to check if the age of the New Zealand shark victim was greater than 10 years old. Python will return a Boolean `True` or `False`, depending if the condition is met.

In [ ]:
nz_victim_age > 10

True

#### Example 11

In this example, we use a Boolean expression to see if the species of the New Zealand shark attack was a Mako Shark. Since we are testing for equality we use two equal signs, `==`, rather than a single one, which, as we know, is an assignment operator.

In [ ]:
nz_species == "Mako Shark"

True

Note that case of the string matters when performing a Boolean conditional test. Let us see what happens if the cases of the strings do not match.

In [ ]:
nz_species == "mako Shark"

False

#### Conditional Test Quizzes
---
Which of the following conditional tests will evaluate to True or False?

#### Quiz 8

Was the size of the New Zealand shark greater than or equal to five meters?

In [ ]:
# Quiz 8
#Run this code cell to see if your guess matches the correct answer!
nz_shark_size >= 5

False

#### Quiz 9

Was the Australian shark encounter victim spear fishing when attacked?

In [ ]:
# Quiz 9
#Run this code cell to see if your guess matches the correct answer!

aus_activity == "Spear Fishing"

False

### `if-else` Statement Structure
---
Below is the basic structure of an `if-else` statement. Indentation is important in `if-else` statements, and lines after `if` and `else` should be indented -- best practice suggests using four spaces. All indented lines of code after `if` will be executed if the conditional test evaluates to `True`; otherwise, the indented lines of code after else will be executed. The `else` clause specifies an alternative set of instructions, if the conditions set in the `if` statement were not met.

```
if conditional test:
      execute something
else:
      execute something else
```

#### Example 12

For example, we could categorize the shark into a small or large shark catgeory by creating a conditional test for its length. We can test if the shark in the New Zealand shark encounter was greater than 2 meters, and to print 'Large Shark', if this condition was met, or to print 'Small Shark' if this condition was not met.

![if_else_shark](images/scalars/if_else_shark.JPG)

In [ ]:
nz_shark_size = 1.5

if nz_shark_size > 2.0:
    print('Large Shark')
else:
    print('Small Shark')

Small shark

#### `if-else` Quiz
---
Now try writing your own `if-else` statement in Quiz 10 below

#### Quiz 10

Write your own `if-else` statement to test whether the age of the New Zealand shark encounter victim was greater than 18; if they are older than 18 years, print 'adult', otherwise print 'juvenile':

In [ ]:
# Quiz 10
if nz_victim_age < 18:
  print('')
else: 
  print('')

tasty

### `if-elif-else`
---

`elif` blocks are used in an `if-else` statement to test for additional conditions. The basic structure for an if-elif-else block is provided below. Although this example includes only one `elif` block, other  blocks can be added as needed.

```
if conditional test:
      execute something
elif different condition:
      execute something different
else:
      execute something else
```

#### Example 12



The example below provides a situation that requires testing two conditions and computing a value depending the result test. Spefically, we will compute the weight of a shark either in tons, kilograms of pounds, depending on an indicator `selection` varible. The approach we will use is illustrated in the diagram below:

![if_elif_else_shark](images/scalars/if_elif_else_shark.jpg)

In [ ]:
selection = "kilograms"
weight_pounds = 5000


if selection == "kilograms":
  print(weight_pounds * 2.2)   
elif selection == "tons":
  print(weight_pounds * 2.2 / 100 )   
else:
  print(weight_pounds)

11000.0

You can change the value of the variable `selection` above and see how that affects the statement executed. Note that the code above assume that variable `selection` contains one of the three valid options: "kilograms", "tons", "pounds". This is unreasonable since one can set the variable `selection` to any text, including options that have not account for. Therefore, it is better to specifically test that the variable contains a valid option and to handle the case where it does in the `else` statement. This is illustrated in the diagram  below. As a test in the Python code below, we intentionally set  the `selection` variable to "grams" and see that error message is printed, since none of the other branches evaluate to `True`.

![if_elif_elif_else_shark](images/scalars/if_elif_elif_else_shark.jpg)

In [ ]:
selection = "grams"
weight_pounds = 5000


if selection == "kilograms":
  print(weight_pounds * 2.2)   
elif selection == "tons":
  print(weight_pounds * 2.2 / 100 )   
elif selection == "pound":
  print(weight_pounds)   
else:
  print('The selection is not Valid, please provide a selection  that is either "pounds", "kilograms" or "tons" ')

The selectin is not Valid, please provide a selection  that is either "pounds", "kilograms" or "Tons"

#### if elif else Quiz
---
Write your own if elif else chain by following the directions for Quiz 11.

#### Quiz 11

Given the code below, which statement would be printed?

In [2]:
# Quiz 11
nz_species = 'Mako Shark'

if nz_species == 'Tiger Shark':
  print("average speed swimmer")
elif nz_species =='Mako Shark':
  print('fast swimmer')
else: 
  print("behavior unknown")

fast swimmer

### Boolean Logic Operators
---
Simple conditional tests can be combined into more complex expressions using the boolean logic operators, `and` and `or`, and by using `not` for negating conditions.

#### The Logical `and` operator
The Logical `and` operator is used to combine two conditions, and evaluates to `True` only when both conditions are True.

#### Example 13

Here, we try to test if both of these conditions are True :
* The Australian shark speices is a White Shark.

* The size of the shark is greater than 3 meters.

If both of those conditions are met, we print out "Adult Shark". If one or neither of these conditions is met, we print out "Juvenile Shark".

In [4]:
aus_species = "White Shark"
aus_shark_size = 3.5
if aus_species == "White Shark" and aus_shark_size > 3.0:
  print("Adult Shark")
else: 
  print('Juvenile Shark')

Adult Shark

#### The Logical `or` Operator
The Logical `or` operator is used to combine two conditions, and evaluates to `True` if on or both conditions are True.

#### Example 14

Here, we check to see if the shark species in Australia:
* is a Mako Shark
* is over 3 meters in length

If either of these conditions are met, or both conditions are met, this would imply that this shark has a strong bite.

In [5]:
nz_shark_size = 1.5
nz_species = 'Mako Shark'

if nz_species == "Mako Shark" or nz_shark_size > 3.0:
  print('Strong bite')
else: print('Average bite')

Strong bite

#### The Logical `not` Operator
The `not` operator is used to test whether the opposite of a condition is `True`. For instance, we may want to check to see if the activity that the activity the victim was partaking in was NOT on land, in which case we could use the code below.

#### Example 15

In [ ]:
aus_activity = "Free Diving"
if aus_activity is not "Walking":
  print("Ocean activity")
else:
  print("Land activity")

Ocean activity

#### Boolean Comparison Operators Quizzes
---
Try working with logical operators `and`, `or` and `not` on your own in these following quizzes.

#### Quiz 12

What logical operator is used to test if at least one of the conditional tests evaluates to `True`?

In [ ]:
# Quiz 12

#### Quiz 13

TRUE or FALSE: Logical operator NOT tests whether a condition is met:

In [ ]:
# Quiz 13

#### Quiz 14

Use logical operator `and` to test if both of these conditions are met:

*   flippers are greater than 4
*   tails are equal to 1

In [ ]:
# Quiz 14

flippers = 3

tails = 0

if flippers 'CONDITIONAL HERE' 4 and tails 'CONDITIONAL HERE':
  print('This is a whale!')
else:
  print('This is some other sea creature')

SyntaxError: ignored

## Summary:
---
In this chapter, you learned about:
* The different types of scalars including integers, floats, strings, and booleans. 
* Boolean statements and if else statements

The next chapter will go over how to use pre-written Python variables and functions. You will learn about modules and how to use the functionalities stored in them.