# Ordered Collections
---
In data science, it is common to encounter data that has thousands or even millions of values, such as the ages of registered voters or past avocado prices in California. *Collections* are variables that can store many values in one place. *Ordered collections* store items in a given order, and the items within these collections are identified by their position in the collection. There are two types of ordered collections: *lists* and *tuples*. This chapter will explore how to work with lists and tuples as well as how to iterate through ordered collections.

## Lists
---
Lists are mutable collections that allow one to store multiple pieces of information in one variable. For example, a list could include the five most popular dog names in New York City, the ages of kids in a kindergarten class or the record high temperatures of multiple cities across the world. Lists can contain variables of any type, including strings, numbers and other lists (more on that in following chapters). This section will explain how to create a list, index values within a list and manipulate its elements.

#### Creating a list
---
In Python, lists are created using square brackets (`[]`), and individual elements in a list are separated by commas (`,`). Similar to scalars, the entire list is assigned to a descriptive variable name.

List can contain elements of different data types.  

```python
mixed_data_types_list = ['one', 'five', 3, 'fourteen']

integer_list = [1, 2, 3, 4, 5]
```

#### Example 1

Python strings support Unicode, which is a system that encodes characters with numbers. This means that Python strings can support emojis like a thumbs up or smiley faces. Let's create a list that contain the emojis for the suits in a deck of cards.

In [1]:
suits = ["‚ô§", "‚ô°", "‚ô¢", "‚ôß"]
suits

['‚ô§', '‚ô°', '‚ô¢', '‚ôß']

#### Quiz
---
True or False: Python lists must contain only one data type.

### Indexing Elements in a List
---

#### Indexing Single Elements in a List

After creating a list, it is useful to be able to refer to specific elements within the list. An element in a list can be referred to using its numbered position, which is called an index. In Python, indices are integer numbers that range **from 0 to one less than the total number of elements** in a list. For example, in our `suits` list, `"‚ô§"` has an index of 0, `"‚ô°"` has an index of 1, `"‚ô¢"` has an index of 2, and `"‚ôß"` has an index of 3.

Elements can also be indexed using their position relative to the end of a list by using negative numbers. The last element in a list has in index of -1 and the second to the last element in a list has an index of -2 and so on.


<img src="images/ordered_collections/single_indexing_suits.JPG" alt="drawing" style="width:500px;"/>
Now that we know how to determine the indices of elements in a list, we can access elements by typing the list name followed by square brackets containing the target index. 

```python
list_name[index]
```
This will return the specified element to the line it was called, allowing you to perform various operations on it like saving it to another variable or printing it.

#### Example 2

Let's practice referring to elements in our `suits` list by directly printing the elements in `suits`.

In [3]:
suits = ["‚ô§", "‚ô°", "‚ô¢", "‚ôß"]

print(suits[0])
print(suits[1])
print(suits[2])
print(suits[3])

‚ô§
‚ô°
‚ô¢
‚ôß

Now lets print the elements in `suits` again, but by assigning them to their own variables. This time we will use the negative indices.

In [4]:
spade = suits[-4]
print(spade)

heart = suits[-3] 
print(heart)

diamond = suits[-2]
print(diamond)

club = suits[-1] 
print(club)

‚ô§
‚ô°
‚ô¢
‚ôß

If we try to use an index outside of the list range, Python will return an error. See below for an example of this.

In [5]:
suits[100]

IndexError: list index out of range

#### Quiz
---

What are the two ways you can refer to the second element in the following list:
```python
card_suits = ['spade', 'heart', 'diamond', 'club']
```

A.  `card_suits[2]` and `card_suits[-3]`

B. `card_suits[1]` and `card_suits[-3]`

C. `card_suits[1]` and `card_suits[-2]`

D. `card_suits[2]` and `card_suits[-2]`

#### Indexing a Range of Values in a List

Multiple elements of a list can referenced at once using *slicing*. An array slice is a subset of consecutive elements of an array. 

A slice is typically specified using the `[x:y]` syntax, where `x` is the position of the first desired elements of the slice and `y` is the end element, which will not be included in the slice.

For example, if we wanted to index the first three values in the `suits` list, we could use:
`suits[0:3]`

From the notation above, we see that the element 0 ("‚ô§") will be included in the slice, whereas the element "‚ôß" will not be included. Thus, the slice will comprise "‚ô§", "‚ô°", "‚ô¢".

As a convenience, Python provides shortcuts for indexing a range of values and omitting the first, the second or even both indices. For instance, if the first index is omitted, Python will assume that it's 0,


```python
copy_list_name = original_list_name[: limit_last_index]
```

Similarly, by leaving the second index blank, Python will copy the list starting from the first index specified all the way until (and this time including) the last element of the array. 

```python
copy_list_name = original_list_name[first_index:]
```

Lastly, a single colon without indexes instructs Python to copy the entire list. 

```python
copy_list_name = original_list_name[:]

```

These shortcuts are very useful for simplifying slicing syntax and are commonly used in Python code.  Let's look at some examples of slicing using the `suits` list.

#### Example 3

Using the `suits` list, we will demonstrate the different ways you can reference a range of values in `suits`.

In [6]:
suits = ["‚ô§", "‚ô°", "‚ô¢", "‚ôß"]

print('Printing the first three elements:')
print(suits[0:3])
print(suits[:3])

print('Printing the last two elements:')
print(suits[2:4])
print(suits[2:])

print('Referring to the entire suits list:')
print(suits[0:4])
print(suits[:4])
print(suits[0:])
print(suits[:])

Printing the first three elements:
['‚ô§', '‚ô°', '‚ô¢']
['‚ô§', '‚ô°', '‚ô¢']
Printing the last two elements:
['‚ô¢', '‚ôß']
['‚ô¢', '‚ôß']
Referring to the entire suits list:
['‚ô§', '‚ô°', '‚ô¢', '‚ôß']
['‚ô§', '‚ô°', '‚ô¢', '‚ôß']
['‚ô§', '‚ô°', '‚ô¢', '‚ôß']
['‚ô§', '‚ô°', '‚ô¢', '‚ôß']

As you can see, there are multiple ways you can slice a list and achieve the same result. However, using the shortcuts will save you some effort when writing your code.

#### Quiz 
---

The following list shows monthly inflation rates from January 2018 to November 2018. How do you slice the first six months of data from this list?
```python
monthly_inflation = [2.04, 2.10, 2.09, 2.13, 2.14, 2.12, 2.12, 2.10, 2.12, 2.11, 2.01]
```

A. `monthly_inflation[0:6]`

B. `monthly_inflation[:6]`

C. `monthly_inflation[:-6]`

D. `monthly_inflation[1:6]`

#### Quiz
---

Type one of the ways you can copy the entire `monthly_inflation`:

### Manipulating Elements
---
When working with data, observations may change, new values might need to be added, and existing values might need to be amended or sorted. Most data is dynamic; the most popular emojis may change following a new iOS release, new kids might be entering or dropping out from a kindergarten class, the average weekly price of avocados might have skyrocketed following an avocado toast craze. As you'd recall, lists are mutable collections, and can be modified to add, remove or modify elements using built-in methods. We will cover these three operations in what comes next.

#### Updating Elements

Updating an existing element in a list can be performed using the assignment operator, `=`, to assign a new value to an index in the list.
```python
list_name[index] = new value
```

#### Example 4

According to Apple, the most used emojis in 2017 in the US -- in order of popularity -- are: üòÇ, ‚ù§, üò≠, üòç, üòò, and üôÑ. Ranking of emojis change according to popular culture. So, if the smiling face with smiling eyes emoji üòä replaces the rolling eyes emoji üôÑ at the sixth position, we can easily updates our ranking to account for the new change as follows.

In [7]:
emojis_2017 = ['üòÇ', '‚ù§', 'üò≠', 'üòç', 'üòò', 'üôÑ']

emojis_2017[-1] = 'üòä' 

emojis_2017[-1]

'üòä'

#### Adding Elements

In addition to updating, it's commonly very useful to add new elements into a an existing list. This is achieved using  the method `append()`, which takes a new element as a parameter and appends it to the end of the list. 

```python
list_name.append(new_element)
```

List can also insert new elements at a specific index (or position) using the method `insert()`, which takes the index where the element should be inserted as the first parameter and the new element as the second parameter. 

```python
list_name.insert(index, new element)
```

#### Example 5

Let's use the `append()` and `insert()` methods expand the list of popular emojis which we store in the list `emojis_2017`. First, we'll use `append()` to add back üôÑ to the list.

In [11]:
emojis_2017 = ['üòÇ', '‚ù§', 'üò≠', 'üòç', 'üòò', 'üòä']
emojis_2017.append('üôÑ') 
emojis_2017

['üòÇ', '‚ù§', 'üò≠', 'üòç', 'üòò', 'üòä', 'üôÑ']

Using  `insert()`, we can add ü§î as the second element of the list.

In [12]:
emojis_2017.insert(1, 'ü§î')
emojis_2017

['üòÇ', 'ü§î', '‚ù§', 'üò≠', 'üòç', 'üòò', 'üòä', 'üôÑ']

#### Removing Elements

Lastly, a set of operations on a list wouldn't be complete without a method remove elements. The `pop()` does exactly that by taking an index as input and popping, or removing, the element at the the given index. The element removed is also returned and can, therefore, be stored in a variable. 

```python
new_variable = list_name.pop(index)
```

#### Example 6

This example demonstrates how to remove elements using `pop()`. The üòä emoji will be removed using `pop()` and saved into another variable called `smiley`.

In [0]:
emojis_2017 = ['üòÇ', 'ü§î', '‚ù§', 'üò≠', 'üòç', 'üòò', 'üòä', 'üôÑ']
smiley = emojis_2017.pop(-2)
print(emojis_2017)
smiley

['üòÇ', 'ü§î', '‚ù§', 'üò≠', 'üòç', 'üòò', 'üôÑ']

'üòä'

#### Quiz
---

```python
monthly_inflation = [2.04, 2.10, 2.09, 2.13, 2.14, 2.12, 2.12, 2.10, 2.12, 2.11, 2.01]
```
Let's return to our `monthly_inflation` list, which only contains inflation values until November. The inflation rate for December 2018 is 1.58%. Write a Python expression that will allow you to update the `monthly_inflation` list by adding the new value associated with December.

In [ ]:
# Write you code here

#### Quiz
---

Let's say the the December value was improperly computed; it should have been 1.81%. Which of the following expression correctly update the value?


A. 
```python
monthly_inflation.pop(11)
monthly_inflation[-1] = 1.81
```
B. 
```python
monthly_inflation.pop(11)
monthly_inflation.append(1.81)
```
C. 
```python
monthly_inflation.append(1.81)
```
D. 
```python
monthly_inflation[-1] = 1.81
```

## Tuples
---

The second type of ordered collections are *tuples*. Tuples are like lists, in that they can contain multiple elements in a specific order and those elements can be of any data type. However, unlike list, tuples are immutable. Tuples are useful when storing data that will not change, such as GPS coordinates of a city, or historical dates. Storing data in a tuple can prevent your from inadvertently updating their values and lets people reading your code know that the data should not change.

Tuples can be created using a set of parenthesis. Like all other variables, a variable name and the assignment operator (`=`) is needed to assign a tuple to a variable. 

```python
tuple_name = (element_1, element_2, ...)
```

<img src="images/ordered_collections/tuple_example.JPG" alte="drawing" style="width:800px;"/>

#### Example 7

Let's create a simple tuple containing Honolulu's longitude, latitude, elevation in meters and area in square kilometers ("21 18' N", "157 51' W", 6, 177.2).

In [7]:
honolulu = ("21¬∞ 18' N", "157¬∞ 51' W", 6, 177.2)
honolulu

("21¬∞ 18' N", "157¬∞ 51' W", 6, 177.2)

Because tuples are a type of ordered collection, the latitude and longitude values in the `honolulu` tuple can be indexed in the same way that elements are indexed in lists. 

```python
honolulu[index]
```
Multiple values can also be sliced from tuples, using the same methods we used for lists. For instance, we can extract latitude and longitude using the following:

```python
honolulu[first_index : limit_last_index]
```

Since tuples are immutable, individual elements in a tuple cannot be removed or changed

#### Example 8

Let's practice indexing elements in a tuple. We will index the first element, the last element and slice the first two elements in `honolulu`.

In [2]:
print(honolulu[0])
print(honolulu[-1])
print(honolulu[:2])

21 18' N
177.2
("21 18' N", "157 51' W")

In this respect, tuples are a lot like lists, since we can use the same method to index both lists and tuples. However, tuples are immutable, so we cannot do the same manipulations we did on lists with tuples. The example below demonstrates what happens when you try to manipulate a tuple.

#### Example 9

Let's try to change the first value in our tuple to a new random number and see what happens.

In [4]:
honolulu[2] = 10

TypeError: 'tuple' object does not support item assignment

The example above shows that attempting to change an item in a tuple (ex. item at position 2 above) results in an error. Thus, since tuples cannot be mofidied, adding or removing an element to a tuple requires redefining the entire object. This manipulation is akin to writing over an existing variable name rather than manipulating the tuple.

#### Example 10

We can overwrite the variable `honolulu` by removing the elevation and area -- those are perhaps not needed for your analysis.

In [1]:
honolulu = ("21¬∞ 18' N", "157¬∞ 51' W")
honolulu

("21¬∞ 18' N", "157¬∞ 51' W")

As illustrated by the two examples above, tuples cannot be modified unless the tuple name is assigned to a different tuple.

#### Quiz
---

How do tuples differ from lists?

A. A list is an ordered collection, while a tuple is an unordered collection.

B. A list is mutable, while a tuple is not.

C. A list can handle elements of different data types, while a tuple can only contain elements of the same data type.

D. Tuples have less values than lists.

#### Quiz
---

How you would create a tuple called `doodle_dogs` that contains these three designer dog breeds:
* labradoodle
* goldendoodle
* bernedoodle

#### Quiz
---

True or False: You can refer to elements in a tuple the same way you do with a list.

#### Quiz
---

True or False: You can "change" a tuple by redefining its variable name.

### Changing Tuples to Lists and Lists to Tuples
---
In some cases it's useful to convert a list to a tuple and vice-versa. This is done through the `tuple()` and `list()` functions, which take any ordered collection and return a tuple or a list respectively. Below, we will use `type()` which returns the variable type after each conversion. The example below gives a tuple of five of the food trucks available at the University of Hawaii Manoa Campus.

In [9]:
uh_food_trucks = ("Sistah Truck", "Punchbowl Cafe", "Peace Cafe", "Hot Tacos")
print(type(uh_food_trucks))

<class 'tuple'>

To add a new item, we convert the tuple into a list and immediately append a new item to it.

In [12]:
uh_food_trucks = list(uh_food_trucks)
uh_food_trucks.append("Kamitoku Ramen")
print(type(uh_food_trucks))
print(uh_food_trucks)

<class 'list'>
['Sistah Truck', 'Punchbowl Cafe', 'Peace Cafe', 'Hot Tacos', 'Kamitoku Ramen', 'Kamitoku Ramen']

We can convert the list back into a tuple using the `tuple()` function.

In [13]:
uh_food_trucks = tuple(uh_food_trucks)
print(type(uh_food_trucks))

<class 'tuple'>

## `for` Loops
---


Manually performing a operations on a large set of items is tedious. It turns out that computers don't mind doing repetitive work all. Plus, they can do it very quickly as well! Python has various mechanisms for implementing repetitive work. On of them is the `for` loop. `for` loops are ideal for repeating functionalities that are tied to a collection of elements. For instance, we may want to check the account balance for each student at the University of Hawaii. Here the operation we want to repeat is checking the account balance and the set of elements we want to repeat to is all the students at the University of Hawaii. It helps to think of `for` loops in terms of the functionality that will be repeated and the collection of elements it will be repeated on.

### Creating a `for` Loop
---

The following is the basic structure of a `for` loop:

```python
for one_element in collection_of_elements:
    functionality to do on one_element
```

Like with `if-else` statements, Python uses indentation to specify the code, i.e., the functionality that is repeated as a part of the `for` loop. The lines of code within the `for` loop should be indented with one tab.

`one_element` is a temporary variable used to hold each element in a collection that the `for` loop iterated over. This temporary variable can be labeled using any valid variable name, but it's common to use singular names to represent the fact that it contains a single item of the collection. The flow logic of the `for` loop is summarized in the diagram below.

<img src="images/ordered_collections/for_loop_flow_chart.jpg" alt="drawing" style="width:500px;"/>

#### Example 11
---

Take, for instance, the following Python snippet:


```python
broadway_shows = ['The Lion King', 'Rent', 'Wicked', 'Hamilton', 'Chicago', 'Aladdin', 'Frozen']


for show in broadway_shows:
    print("{} is sold out today!".format(show))
```

This code loops through a list of Broadway shows currently playing in New York City (can you guess when this module was written?). The `for` loop takes the first element in the list, assigns it the temporary variable called `show` and executed the functionality in the `for` loop's body, i.e., print the content of the variable and " is sold out today!". Each of the elements is taken in order it appears in the list. It helps to think of the code above in terms of the operations described below.

<img src="images/ordered_collections/broadway_for_loop.JPG" alt="drawing" style="width:500px;"/>

#### Example 12

Let's revisit our card suit example. We can write a `for` loop to draw three elements randomly, with replacement, from the `suits` list. In the terms that we used above to define `for` loops, the functionality that we need to repeat is selecting a random element from the `suits` list and the collection of elements that the logic will be applied to is `[1,2,3]` since we would like to repeat the functionality three times.

In [1]:
import random
suits = ["‚ô§", "‚ô°", "‚ô¢", "‚ôß"]
for i in [1,2,3]:
  print("This is draw {}:".format(i))
  print(random.choice(suits))

This is draw 1:
‚ô°
This is draw 2:
‚ôß
This is draw 3:
‚ô°

Above, we had to manually write the list, `[1, 2, 3]`, to instruct Python to repeat the functionality three times. It turns out that Python provides a useful function to generate a range of values. For instance, instead of explicitly writing the range of values `[1, 2, 3, 4, 5, 6, 7]`, we can use the conveniently named Python function, `range()`, by giving it a starting value of 1 and an end value of 8.

```python
range(1, 8)
```
Note that the end value was not included in the range generated. So, we can rewrite the code above as:

In [24]:
suits = ["‚ô§", "‚ô°", "‚ô¢", "‚ôß"]
for draw in range(1, 4):
  print("This is draw {}:".format(draw))
  print(random.choice(suits))

This is draw 1:
‚ô¢
This is draw 2:
‚ôß
This is draw 3:
‚ôß

To fully understand what happens when Python interprets a `for` loop, we can *unroll* a `for` loop by writing a block of code that does the same thing as a `for` loop without using one. Let's rewrite the example above to achieve the same output without using a `for` loop.

In [25]:
draw = 1
print("This is draw {}:".format(draw))
print(random.choice(suits))

draw = 2
print("This is draw {}:".format(draw))
print(random.choice(suits))

draw = 3
print("This is draw {}:".format(draw))
print(random.choice(suits))

This is draw 1:
‚ôß
This is draw 2:
‚ôß
This is draw 3:
‚ô°

As shown above, when the `for` loop is executed, Python assigns the first value generated by `range(1, 4)` to a temporary variable called `draw` the value 1.  Therefore, during first iteration, the `for` loop will first print `"This is draw {}:".format(draw)` which prints `"This is draw 1:"`. Next, Python will randomly choose a suit in `suits` and print the result. 

The second iteration begins with Python assigning the second value in `range(1, 4)`,ie., 2, to variable `draw`. Python will then print `'This is draw 2:'` and proceed to print the randomly drawn suit.

This process of assigning to the variable `draw` values produced by the `range(1,4)` and printing the different draws and suits will repeat until the last item in `range(1,4)` is iterated through.

#### Quiz
---

`visitor_expenditures_2016` is a list containing quarterly Hawaii visitor expenditures in the millions. How you would "unroll" the `for` loop  in the code below:

```python
visitor_expenditures_2016 = [3744.7, 3958.4, 3990.4, 4059.9]
for quarter in visitor_expenditures_2016:
  print(quarter * 1000000)

```

In [1]:
# Write your code here

#### Quiz
---
Using the `visitor_expenditures_2016` list, write a `for` loop that creates another list with visitor expenditures in Jordanian dinars. Assume the exchange rate is constant at 1 dinar to 1.41 US dollars.

Hint: 
Remember that the values in `visitor_expenditures_2016` are in millions of US dollars.

In [1]:
visitor_expenditures_2016 = [3744.7, 3958.4, 3990.4, 4059.9]

## Summary
---
This chapter covered:
* Creating lists and tuples.
* Referring to and manipulating elements in a list or tuple.
* How to loop through lists and tuples using `for` loops, and how to manipulate elements as you loop through them.

The next section will introduce dictionaries, which is a type of unordered collection, and advance data structures.